@model UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title>Traversal | Giriş Yap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/templates/login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/templates/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/templates/login/images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form" asp-action="Login" method="post">
                    <span class="login100-form-title">
                        Hesabına Giriş Yap
                    </span>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="Email" placeholder="Email" autocomplete="off" />
                        <span class="symbol-input100" style="margin-bottom:12px;">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <span class="text-danger ml-4" asp-validation-for="Email"></span>
                    </div>
                    <div class="wrap-input100">
                        <input class="input100" type="password" name="Password" placeholder="Şifre" autocomplete="off" />
                        <span class="symbol-input100" style="margin-bottom:12px;">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <span class="text-danger ml-4" asp-validation-for="Password"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Giriş Yap
                        </button>
                    </div>
                    <div class="text-center p-t-12">
                        <a class="txt2" href="/PasswordChange/ForgotPassword">
                            Şifremi Unuttum
                        </a>
                    </div>
                    <div class="text-center p-t-12">
                        <a class="txt2" href="/Auth/Register">
                            Hesap Oluştur
                        </a>
                    </div>
                    <div class="text-center p-t-12">
                        <a class="txt2" href="~/">
                            Anasayfaya Dön
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/templates/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/templates/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/templates/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/templates/login/vendor/select2/select2.min.js"></script>
    <script src="~/templates/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script src="~/templates/login/js/main.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <style type="text/css">
        .text-danger {
            color: red;
        }
    </style>
    @await Component.InvokeAsync("Notyf")
</body>
</html>