@model UserRegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>Traversal | Kayıt Ol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/templates/register/fonts/linearicons/style.css">
    <link rel="stylesheet" href="~/templates/register/css/style.css">
    <link rel="icon" type="image/png" href="~/templates/login/images/icons/favicon.ico" />
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <img src="~/templates/register/images/image-1.png" alt="" class="image-1">
            <form asp-action="Register" method="post">
                <h3>Hesap Oluştur</h3>
                <div class="form-holder">
                    <input type="text" class="form-control" name="NameSurname" placeholder="Ad Soyad">
                </div>
                <span class="text-danger" asp-validation-for="NameSurname"></span>
                <div class="form-holder">
                    <input type="text" class="form-control" name="Email" placeholder="Email">
                </div>
                <span class="text-danger" asp-validation-for="Email"></span>
                <div class="form-holder">
                    <input type="password" class="form-control" name="Password" placeholder="Şifre">
                </div>
                <span class="text-danger" asp-validation-for="Password"></span>
                <div class="form-holder">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Şifre Tekrar">
                </div>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <button>
                    <span>Kayıt Ol</span>
                </button>
                <div style="text-align:center">
                    <br /><a class="button" href="/Auth/Login">Geri Dön</a>
                </div>
            </form>
            <img src="~/templates/register/images/image-2.png" alt="" class="image-2">
        </div>
    </div>
    <script src="~/templates/register/js/jquery-3.3.1.min.js"></script>
    <script src="~/templates/register/js/main.js"></script>
    <style type="text/css">
        .text-danger {
            color: red;
        }
    </style>
</body>
</html>