@model EntityLayer.Concrete.User
@{
	ViewData["Title"] = "Profilim";
	Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}

<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row">
			<div class="content-header-left col-md-4 col-12 mb-2">
				<h3 class="content-header-title">Profilim</h3>
			</div>
			<div class="content-header-right col-md-8 col-12">
				<div class="breadcrumbs-top float-md-right">
					<div class="breadcrumb-wrapper mr-1">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/Member/Profile/Edit">Profili Güncelle</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body">
			<section id="description-list-alignment">
				<div class="row match-height">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title" style="display:flex;justify-content:center">Profil Bilgileri</h4>
								<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
								<div class="heading-elements">
									<ul class="list-inline mb-0">
										<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="card-content">
								<div class="card-body">
									<div class="card-text">
										<dl class="row">
											<dt class="col-sm-3">Görsel</dt>
											<dd class="col-sm-9">
												<img src="~/images/user/@Model.UserImage" height="100" width="100" />
											</dd>
										</dl>
										<dl class="row">
											<dt class="col-sm-3">Adı Soyadı</dt>
											<dd class="col-sm-9">@Model.NameSurname</dd>
										</dl>
										<dl class="row">
											<dt class="col-sm-3">Hakkında</dt>
											<dd class="col-sm-9">@Model.AboutUser</dd>
										</dl>
										<dl class="row">
											<dt class="col-sm-3">Email</dt>
											<dd class="col-sm-9">@Model.Email</dd>
										</dl>
										<dl class="row">
											<dt class="col-sm-3">Şifre</dt>
											<dd class="col-sm-9">**********</dd>
										</dl>
										<dl class="row">
											<dt class="col-sm-3">Durum</dt>
											<dd class="col-sm-9">Aktif Üye</dd>
										</dl>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>