@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Şifremi Unuttum";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
	<div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
		<div class="container">
			<h2 class="title">Hesabını Bul</h2>
			<ul class="breadcrumbs-custom-path mt-2">
				<li><a href="/Auth/Login">Giriş Yap</a></li>
				<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Şifremi Unuttum </li>
			</ul>
		</div>
	</div>
</section>
<section class="blog-post-main w3l-homeblock1">
	<div class="blog-content-inf pb-5">
		<div class="container pb-lg-4">
			<div class="single-post-image">
				<div class="post-content">
					<img src="assets/images/banner2.jpg" class="radius-image img-fluid mb-5" alt="" />
				</div>
			</div>
			<div class="single-post-content">
				<div class="leave-comment-form mt-2" id="reply">
					<h4 class="side-title mb-2 text-center">Hesabını Bul</h4>
					<p class="mb-4 text-center">
						Hesabını aramak için lütfen email adresini gir.
					</p>
					<form asp-action="ForgotPassword" method="post">
						<div class="input-grids row">
							<div class="form-group col-lg-12">
								<input type="email" asp-for="Email" class="form-control" placeholder="Email adresini girin..." required autocomplete="off" />
							</div>
						</div>
						<div class="submit text-center">
							<button class="btn btn-info btn-primary">Ara</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>