@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Firmamız</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="~/">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Hakkımızda</li>
            </ul>
        </div>
    </div>
</section>
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h3 class="hny-title">Geleceğe Seyahat Edin</h3>
            <p class="py-3 mb-3">Tatilcilerin yol arkadaşı, gezginlerin daimi başlangıç noktası olan firmamız bugün tatilseverlerin desteğiyle sektörün trendlerini belirleyen, başarıları ödüllerle onurlandırılan ve tatil dendiğinde akla ilk gelen marka konumuna yükselmiştir. Kuruluşundan bugüne izlediği doğru ve dürüst hizmet politikaları, yapılan alt yapı ve teknoloji yatırımları ile günden güne büyüyerek yoluna devam etmektedir.</p>
            <h3 class="hny-title">Misyonumuz</h3>
            <p class="py-3 mb-3">Gelişmekte olan dinamik turizm dünyasını yakından takip ederek, hızlı adaptasyonlarla müşterilerimize her zaman üstün hizmet, servis ve kaliteyi, yüksek eğitimli profesyonel bir takım ruhu içinde sunmaktır.</p>
            <h3 class="hny-title">Vizyonumuz</h3>
            <p class="py-3 mb-3">Müşterilerimiz için değer yaratmak, beklentilerine kalite ve istikrarla karşılık vermek ve çözüm ortakları olmak.</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="~/templates/traversal/assets/images/banner3.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-6 content-6-left pr-lg-5">
                <h6 class="sub-title">Neden Bizi Tercih Etmelisiniz</h6>
                <h3 class="hny-title">İstanbul’un Kalbinde Yerel Bir Hizmet Sağlayıcısıyız</h3>
            </div>
            <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    İstanbul’da bulunduğumuz için ekibimiz ile her zaman yüz yüze iletişim kurmak mümkün.
                    Bazen beklenmedik şeyler olur. Tatilinizden önce veya tatil sırasında işler ters gidebilir.
                    İçiniz rahat olsun, her türlü soru ve sorunlarınızda 7/24 uzman ekibimiz ile hizmetinizdeyiz.
                </p>
                <p class="mb-3">
                    Bizi diğer web sitelerinden ayıran en önemli fark yerel olmamız. Bizim ekibimiz konakladığınız otellerin, sahipleri, müdürleri veya çalışanları ile her gün iç içeyiz ve iletişim halindeyiz. Sorunlarınızı bizden daha hızlı kimse çözemez iddiasındayız.
                </p>
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("AboutStatisticsList")