<!doctype html>
<html class="loading" lang="tr" data-textdirection="ltr">
@await Html.PartialAsync("~/Areas/Member/Views/Shared/_LayoutPartial/_HeadPartial.cshtml")
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/_LayoutPartial/_HeaderPartial.cshtml")
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/_LayoutPartial/_NavbarPartial.cshtml")
    @RenderBody()
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/_LayoutPartial/_FooterPartial.cshtml")
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/_LayoutPartial/_ScriptPartial.cshtml")
    @await Component.InvokeAsync("Notyf")
</body>
</html>