<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-0 py-3">
        <div class="row stats-con pb-lg-3">
            <div class="col-lg-4 col-6 stats_info text-center counter_grid1">
                <p class="counter">@ViewBag.destinationCount</p>
                <h4>Tur Rotaları</h4>
            </div>
            <div class="col-lg-4 col-6 stats_info text-center counter_grid2 mt-lg-0 mt-5">
                <p class="counter">@ViewBag.guideCount</p>
                <h4>Tur Rehberleri</h4>
            </div>
            <div class="col-lg-4 col-6 stats_info text-center counter_grid mt-lg-0 mt-5">
                <p class="counter">@ViewBag.clientCount</p>
                <h4>Mutlu Müşteriler</h4>
            </div>
        </div>
    </div>
</section>