@{
    Layout = null;
}
<!doctype html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Traversal | Hata</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/templates/errorpage/assets/css/style.css" />
    <link rel="icon" type="image/png" href="~/templates/login/images/icons/favicon.ico" />
</head>
<body>
    <div class="container">
        <img class="ops" src="~/templates/errorpage/assets/images/404.svg" />
        <br /><br />
        <h3>
            Aradığınız sayfa bulunamadı
        </h3>
        <br />
        <button class="btn btn-primary" onclick="history.back()">Geri dönmek için tıklayın</button>
    </div>
</body>
</html>