<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal | @ViewBag.Title</title>
    <link href="~/templates/member/assets/img/apple-icon.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/templates/member/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/templates/member/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/templates/member/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link href="~/templates/member/assets/css/soft-ui-dashboard.css?v=1.0.3" id="pagestyle" rel="stylesheet" />
    <link href="~/templates/login/images/icons/favicon.ico" rel="icon" type="image/png" />
</head>