@model DestinationListDto
@{
    ViewData["Title"] = "Rota Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h4 class="mb-0">Rota Düzenle</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Status" />
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Resim</label>
                    <div class="col-sm-4">
                        <img src="~/images/destination/destination.png" height="40" width="40" class="rounded-circle img-center" id="pictureShown" />
                    </div>
                    <label class="col-sm-2 col-form-label">Resim Seç</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control" id="destinationImage" asp-for="DestinationImage" />
                        <span asp-validation-for="DestinationImage" class="spanClass"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Rota</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" asp-for="City" />
                        <span class="spanClass" asp-validation-for="City"></span>
                    </div>
                    <label class="col-sm-2 col-form-label">Gece Gün</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" asp-for="DayNight" />
                        <span class="spanClass" asp-validation-for="DayNight"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-1 col-form-label">Fiyat</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="Price" asp-for="Price" />
                        <span class="spanClass" asp-validation-for="Price"></span>
                    </div>
                    <label class="col-sm-1 col-form-label">Kapaste</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="capacity" asp-for="Capacity" />
                        <span class="spanClass" asp-validation-for="Capacity"></span>
                    </div>
                    <label class="col-sm-1 col-form-label">Tarih</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" asp-for="Date" />
                        <span class="spanClass" asp-validation-for="Date"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Açıklama</label>
                    <div class="col-sm-10">
                        <textarea class="form-control ckeditor" id="editor" rows="3" asp-for="Description"></textarea>
                        <span class="spanClass" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="row justify-content-end text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Güncelle</button>
                        <a class="btn btn-primary" style="color:white" href="/Admin/Destination/Index">Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/templates/admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#destinationImage").change(function (e) {
            $("#pictureShown").attr('src', URL.createObjectURL(e.target.files[0]));
        });
    });
</script>
<script type="text/javascript">
    CKEDITOR.replace("editor")
</script>