@model Role
@{
    ViewData["Title"] = "Rol Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h4 class="mb-0">Rol Düzenle</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" class="form-control" asp-for="Id" />
                <input type="hidden" class="form-control" asp-for="ConcurrencyStamp" />
                <input type="hidden" class="form-control" asp-for="Status" />
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Rol Adı</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Name" autocomplete="off" />
                        <span class="spanClass" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Rol Açıklaması</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Description" autocomplete="off" />
                        <span class="spanClass" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="row justify-content-end text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Güncelle</button>
                        <a class="btn btn-primary" style="color:white" href="/Admin/Role/Index">Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>